body {
  padding: 20px;
  background-color: lightslategray;
}

h1 {
  font-size: 30px;
  position: center;
  padding: 20px;
}

img {
  width: 200px;
}

ul {
  font-family: 'Open Sans', sans-serif;
}

li {
  padding-bottom: 10px;
}
